<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="charset=UTF-8"/>
	<title>ViUR control - Dependency Wizard</title>
	<link rel="icon" type="image/x-icon" href="../img/favicon.ico">
	<link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css"/>
	<script>window.$ = window.jQuery = require('jquery');</script>
	<script type="application/javascript">require("../js/installWizard.js")</script>
</head>
<body>
<div class="window frameless">
	<header class="toolbar toolbar-header">
		<img class="logo-viur-control" src="../img/logo_viur_control.svg">
		<span class="logo-title">Dependency Wizard</span>
		<button class="js-close btn-action" title="Close Window">&times;</button>
	</header>
	<div class="window-content">
		<div class="pane-group">
			<div class="pane-sm sidebar">
				<ul class="list-group">
				</ul>
			</div>
			<div class="pane">
				<div class="content active">
					<div class="nice-section">
						<h1>Current Step :: <span class="js-current-step-name"></span></h1>
					</div>
					<div class="js-check-section nice-section">
						<h2 class="js-check-step">Checking if the tool is already installed</h2>
					</div>
					<div class="js-showable-sections js-download-section nice-section hidden">
						<h2 class="js-downloading-step">Downloading...</h2>
						<div class="progress-bar-container">
							<div class="progress-bar-content"></div>
						</div>
					</div>
					<div class="js-showable-sections js-unpack-section nice-section hidden">
						<h2 class="js-unpack-step">Unpacking...</h2>
						<pre class="js-unpack-step-output inline-output"></pre>
					</div>
					<div class="js-showable-sections js-install-section nice-section hidden">
						<h2 class="js-installing-step">Installing...</h2>
						<pre class="js-installing-step-output inline-output"></pre>
					</div>
					<div class="js-showable-sections js-configure-section nice-section hidden">
						<h2 class="js-configuration-step">Configuration...</h2>
						<pre class="js-configure-step-output inline-output"></pre>
					</div>
					<div class="js-showable-sections nice-section hidden">
						<h2 class="js-validating-step">Validating installation...</h2>
						<pre class="inline-output"></pre>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
