<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="charset=UTF-8"/>
	<title>ViUR control - Label Settings</title>
	<link rel="icon" type="image/x-icon" href="../img/favicon.ico">
	<link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css"/>
	<script>window.$ = window.jQuery = require('jquery');</script>
	<script type="application/javascript">require("../js/labelSettings.js")</script>
</head>

<body>
<div class="window frameless">
	<header class="toolbar toolbar-header">
		<img class="logo-viur-control" src="../img/logo_viur_control.svg">
		<span class="logo-title">Label Discovery</span>
		<div class="btn-action-wrap">
		<button class="js-close btn-action" title="Close Window">&times;</button>
		</div>
	</header>
	<div class="window-content">
		<div class="pane-group">
			<div class="pane">
				<div class="content active">

					<div class="nice-section">

						<p class="js-label-settings-repository">Your current label icon repository was set to: <span
								class="js-label-repository"></span></p>
						<p class="js-label-settings-repository-missing hidden">Your current label icon repository
							was set to: <span class="js-label-repository"></span></p>
						<p>You can change it in the global settings</p>
						<p>You're seeing here labels of the form "$key: $value" on the left side.</p>
						<p>If you want to use an icon or image for label representation, put your png, jpg or svg
							file in the label repository with a filename like "$key-$value.(png|jpg|svg)"</p>
						<p>Pro Tip: You can use the same icon for multiple labels via symlinks! ;)</p>
						<p>In a future version of viur-control, you can also set a fallback icon yourself via fallback.(png|jpg|svg)</p>

						<button class="js-open-documentation btn btn-hint icon icon-help pull-right"
						        title="Explain this"
						        data-view="#labels"></button>
						<button class="js-refresh-label-mappings btn btn-positive btn-large">Refresh
							label repository
						</button>
						<button class="js-collect-and-refresh-label-mappings btn btn-positive btn-large">
							(Re-)collect labels & refresh label repository
						</button>
						<ul class="label-settings-ul">
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>