<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="charset=UTF-8"/>
	<title>ViUR control - Settings</title>
	<link rel="icon" type="image/x-icon" href="../img/favicon.ico">
	<link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css"/>
	<script>window.$ = window.jQuery = require('jquery');</script>
	<script type="application/javascript">require("../js/settings.js")</script>
</head>
<body>
<div class="window frameless">
	<header class="toolbar toolbar-header">
		<img class="logo-viur-control" src="../img/logo_viur_control.svg">
		<span class="logo-title">Settings</span>
		<div class="btn-action-wrap">
		<button class="js-close btn-action" title="Close Window">&times;</button>
		</div>
	</header>
	<div class="window-content">
		<div class="pane">
			<div class="nice-section">
				<button class="js-open-documentation pull-right btn btn-hint icon icon-help" title="Explain this" data-view="#settings"></button>
				<h4>Settings</h4>
				<ul class="settings-ul">
				</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>