<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="charset=UTF-8"/>
	<link rel="icon" type="image/x-icon" href="../img/favicon.ico">
	<link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css"/>
	<link rel="stylesheet" type="text/css" media="screen" href="../css/output_style.css"/>
	<script>window.$ = window.jQuery = require('jquery');</script>
	<script type="application/javascript">require("../js/taskHandler.js")</script>
</head>
<body>
<div class="window frameless">
	<header class="toolbar toolbar-header">
		<img class="logo-viur-control" src="../img/logo_viur_control.svg">
		<span class="logo-title"></span>
		<div class="btn-action-wrap">
		<button class="js-stop-process btn-large btn icon icon-stop pull-right hidden" title="Stop current process"></button>
		<button class="js-close btn-action" title="Close Window">&times;</button>
		</div>
	</header>
	<div id="output" class="output">
	</div>
</div>
</body>
</html>
