<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="charset=UTF-8"/>
	<title>ViUR control - Add workspace (1/3)</title>
	<link rel="icon" type="image/x-icon" href="../img/favicon.ico">
	<link rel="stylesheet" type="text/css" media="screen" href="styles.css"/>
	<script>window.$ = window.jQuery = require('jquery');</script>
</head>
<body>
<div class="window frameless">
	<header class="toolbar toolbar-header">
		<img class="logo-viur-control" src="logo_viur_control.svg">
		<span class="logo-title">Add workspace (1/3)</span>
	</header>
	<div class="window-content">
		<div class="pane-group">
			<div class="pane">
				<div class="content active">
					<div class="nice-section">
						<h2>Add workspace</h2>
						<h3>Select a directory where we should save your ViUR projects.</h3>
						<ul class="settings-ul">
						</ul>

						
						<button class="btn-positive" style="font-size: 1.4em">Next</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	
</script>
</body>
</html>