<li class="settings-li">
	<label class="settings-label" for="projects-directory">Projects Directory</label>
	<input id="projects-directory" class="js-settings-paths" name="projects_directory" value="{{ projects_directory }}" size="30">
</li>
