{{#allLabels}}
	<li class="settings-li">
		<image class="js-label-icon icon labelicon" src="{{^path}}../img/icon-vc.svg{{/path}}{{#path}}{{labelRepository}}/{{path}}{{/path}}"
		        title="{{title}}"></image>
		<label class="settings-label" for="{{ id }}">{{ title }}</label>
		<input id="{{ id }}" class="js-label-settings-path" value="{{ path }}" size="30" readonly>
	</li>
{{/allLabels}}
