<li class="list-group-item li-icon-list" data-internal-id="{{internalId}}" title="{{absolutePath}}" data-name="{{directoryName}}">
	<div class="js-project-icon-display listicon" style="background-image: url('{{#projectIcon}}{{url}}{{/projectIcon}}{{^projectIcon}}../img/list-fallback.svg{{/projectIcon}}')"></div>
	<strong>{{directoryName}}</strong>
	<span class="js-project-running-status run"></span>
</li>
