{{#versions}}
	<tr class="version-row">
		<td class="js-version-id"><a class="js-version-link" href="https://{{id}}-dot-{{applicationId}}.appspot.com" title="https://{{id}}-dot-{{applicationId}}.appspot.com">{{id}}</a></td>
		<td>{{last_deployed_time.datetime}}</td>
		<td>{{version.createdBy}}</td>
		<td>{{traffic_split}}</td>
	</tr>
{{/versions}}
