<li class="settings-li">
	<label class="settings-label" for="projects-directory">Projects Directory</label>
	<input id="projects-directory" class="js-settings-paths" name="projects_directory" value="{{ projects_directory }}" size="30">
</li>
<li class="settings-li">
	<label class="settings-label" for="gcloud-path">Gcloud Tool Path (optional)</label>
	<input id="gcloud-path" class="js-settings-paths" name="gcloud_tool_path" value="{{ gcloud_tool_path }}" size="30">
</li>
<li class="settings-li">
	<label class="settings-label" for="labels-path">Label Icon Repository (optional)</label>
	<input id="labels-path" class="js-settings-paths" name="label_icon_repository" value="{{ label_icon_repository }}" size="30">
</li>
<li class="settings-li">
	<label class="settings-label" for="version_developer_sign" title="e.g 'mi' as a part of '2017-11-23-mi-01'">Initials as part of version string</label>
	<input id="version_developer_sign" class="js-settings-strings" name="version_developer_sign" value="{{ version_developer_sign }}" size="30">
</li>
<li class="settings-li">
	<label class="settings-label" for="terminal_background_color">Background color for task output areas</label>
	<input type="color" id="terminal_background_color" class="js-settings-terminal-colors" name="terminal_background_color" value="{{terminal_background_color}}" size="30">
</li>
<li class="settings-li">
	<label class="settings-label" for="terminal_foreground_color">Foreground color for task output areas</label>
	<input type="color" id="terminal_foreground_color" class="js-settings-terminal-colors" name="terminal_foreground_color" value="{{terminal_foreground_color}}" size="30">
</li>
