{{#vclogEntries}}
	<div class="js-vclog-entry vclog-entry">
		<h1><span class="vclog-creationdate">{{creationdate}}</span><span class="vclog-status vclog-status-{{status}}">{{status}}</span></h1>
		<p class="vclog-method">{{method}}</p>
		<p class="vclog-msg">{{msg}}</p>
	</div>
{{/vclogEntries}}
