{{#vclogEntries}}
	<div class="js-vclog-entry vclog-entry">
		<p>Creationdate: {{creationdate}}</p>
		<p>Method: {{method}}</p>
		<p>Command: {{command}}</p>
		<p>Status: {{status}}</p>
		<p>msg: {{msg}}</p>
	</div>
{{/vclogEntries}}
