{{#vclogEntries}}
	<div class="js-vclog-entry vclog-entry">
		<h2>
			<span class="vclog-creationdate">{{creationdate}}</span>
			<span class="vclog-status vclog-status-{{status}}">{{status}}</span>
			<span class="vclog-method">{{method}}</span>
		</h2>
		<p class="vclog-msg">{{msg}}</p>
	</div>
{{/vclogEntries}}
